#sidebar
  !{sidebar}
#articleview
  - each article in articles
    .article
      .title= article.title
        = article.title
      .created= article.created_at
      .body= article.body
      .articlelink
        a(href="/article/#{article.id}") read more
