#sidebar
  !{sidebar}
#articleview
  - each article in articles
    .article
      a(href="/article/#{article.id}")
        .title= article.title
      .created= article.created_at
      .body= article.body
      