-# coding: utf-8
.article
  .title&= article[:title]
  .created&= article[:created_at]
  .body
    - article[:body].lines.each do |line|
      &= line
      %br
.comments
  .commenttitle 以下みなさまの反応
  - comments.each do |comment|
    .comment
      .name&= (comment[:name] && comment[:name].length > 0) ? comment[:name] : "名無しさん"
      .created&= comment[:created_at]
      .body
        - comment[:body].lines do |line|
          &= line
          %br
  .commentform
    .commenttitle あなたの反応
    %form{:method => "POST", :action => "/comment/#{article[:id]}"}
      %table
        %tr
          %td
            おなまえ: 
            %input{:type => "text", :name => "name", :size => 30}
        %tr
          %td
            %textarea{:name => "body", :cols => 60, :rows => 4}
      %input{:type => "submit"}
